<% unless flash[:error_messages] %>
  <% flash.each do |message_type, message| %>
    <div class="flash alert alert-<%= message_type %>"><%= message %>
    <button type="button" class="close p-auto" data-dismiss="alert">&times;</button>
    </div>
  <% end %>
<% end %>
