<nav class="navbar navbar-dark p-0" style="background-color: #40e0d0">
  <div class="container px-lg-4 my-1">
    <%= link_to image_tag("Vmish_farm2.svg", id: "toplogo"), root_path, class: "navbar-brand", id:"navbrand"%>
    <div>
      <ul class="nav-ullist pl-md-5">
        <li class="navlist mr-md-5 d-none d-md-inline-block">
          <form for="sbox2" id="form2" action="/search" accept-charset="UTF-8" method="get">
            <input id="sbox2"  name="keyword" type="text" value="" placeholder="キーワードを入力" required/>
            <button type="submit" id="sbtn2"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li class="navlist d-inline-block d-md-none">
          <button id="sbtn3" data-toggle="collapse" data-target="#searchform1" aria-expand="false" aria-controls="searchform1">
            <i class="fa fa-search"></i>
          </button>
        </li>
        <%= render 'shared/change_header'%>
      </ul>
    </div>
  </div>
</nav>

<div class="collapse mb-2 px-4" id="searchform1">
  <form id="form3" action="/search" method="get">
    <input id="sbox3" name="keyword" type="text" value="" placeholder="キーワードを入力" required/>
  </form>
</div>

