@import "bootstrap";
/*@import "uikit.min";*/

/* 検索フォーム */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 5px;
}

body {
  font-family:"AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
  color: #555555;
}

.navlist{
  display: inline-block;
  vertical-align: middle;
}

.nav-ullist{
  margin-bottom: 0;
}

#form2{
  position: relative;
  width:185px;
  height: 32px;	
}

#sbox2{
  position: absolute;
  width: 185px;
  padding:0 10px;
  height: 32px;
  border-radius:5px;
  outline:0;
  font-size: small;
}

#sbtn2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 32px;
  background:none;
  color:#666;
  border:none;
  font-size:18px;/*アイコンサイズ*/
  outline:0;
}

#sbtn2:hover{
  color:#7fbfff;
  }

#loginbox{
  font-size: small;
}

#loginlink{
  color: white;
  font-weight: bold;
}

#siuplink{
  background: #f1fcfc;
  border: solid 1px #f1fcfc;/*線*/
  border-radius: 4px;/*角の丸み*/
  text-decoration: none;
  color: #2b546a;
  font-weight: bold;
  font-size: small;
  padding: 7px 12px 7px 12px;
}

#siuplink:hover{
  background: #dce6e6;
  border: solid 1px #dce6e6;/*線*/
}