.navlist{
  display: inline-block;
  vertical-align: middle;
}

.nav-ullist{
  margin-bottom: 0;
  padding-left: 0em;
}

#toplogo{
  width: 100%;
}

#toplogo2{
  width: 150px;
}

#navbrand{
  width: 126px;
  height: auto;
}

#form2{
  position: relative;
  width:185px;
  height: 32px;
  outline: none;	
}

#form3{
  position: relative;
  width: 100%;
}

#sbox2{
  position: absolute;
  width: 185px;
  padding:0 10px;
  height: 32px;
  border-radius:5px;
  outline:0;
  font-size: small;
}

#sbox3{
  position: absolute;
  width: 100%;
  padding:0 10px;
  height: 32px;
  border-radius:5px;
  outline:0;
  font-size: small;
}

#sbtn2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 32px;
  background:none;
  color:#666;
  border:none;
  font-size:18px;/*アイコンサイズ*/
  outline:0;
}

#sbtn2:hover{
  color:#7fbfff;
}

#sbtn3{
  margin-right: 1rem;
  background: none;
  border: solid 1px #f1fcfc;
  border-radius: 3px;
  outline: 0;
  color: #f1fcfc;
}

#sbtn3:hover{
  color: #dce6e6;
  border: solid 1px #dce6e6;
}

#loginbox{
  font-size: small;
}

#loginlink{
  color: white;
  font-weight: bold;
}

#siuplink{
  background: #f1fcfc;
  border: solid 1px #f1fcfc;/*線*/
  border-radius: 4px;/*角の丸み*/
  text-decoration: none;
  color: #2b546a;
  font-weight: bold;
  font-size: small;
  padding: 7px 12px 7px 12px;
}

#siuplink:hover{
  background: #dce6e6;
  border: solid 1px #dce6e6;/*線*/
}

.myaccount{
  position: relative;
}
/* 下矢印 */
.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 6px;
  border-right: 1px solid #f1fcfc;
  border-bottom: 1px solid #f1fcfc;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.init-bottom:hover:after{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 6px;
  border-right: 1px solid #f1fcfc;
  border-bottom: 1px solid #f1fcfc;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#account-btn{
  background:none;
  border: solid 1px #40e0d0;/*線*/
  border: none;/*線*/
  border-radius: 4px;/*角の丸み*/
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: small;
  outline: none;
  padding: 8px 8px 8px 8px;
}

#account-btn:hover{
  background: #3bccbe;
  border: solid 1px #3bccbe;/*線*/
  border: none;/*線*/
  border-radius: 4px;/*角の丸み*/
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: small;
  padding: 8px 8px 8px 8px;
}

.drop-menu{
  display: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  position: absolute;
  top: 2.5rem;
  left: 0.5rem;
  list-style-type: none;
  padding:8px 0px 8px 0px;
  background: white;
  border: solid 1px #e6e6e6;
  z-index: 1;
}

ul.drop-menu li a{
  display: inline-block;
  width: 9rem;
  color: #555555;
  font-size: small
}

.drop-line{
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  content: "";
  background-color: #e6e6e6;
}

.drop-item{
  padding: 8px 16px;
  text-decoration: none;
}

.drop-item:hover{
  text-decoration: none;
  background: #eee;
}
