.item-line{
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
}

.home-tab{
  border-bottom: solid 1px #e6e6e6;
}

.item-block{
  display: block;
}

.item-box-link{
  position: relative;
  border-radius: 6px;
}

.item-box-link:hover{
  background: #f1f1f1;
  border-radius: 6px;
}

.item-path{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-user{
  position: relative;
  color: #555555;
  text-decoration: none;
  z-index: 1;
}
.item-user:hover{
  color: #72b5b7;
  text-decoration: #72b5b7;
}

.item-footer{
  font-size: small;
}

.item-title{
  font-weight: bold;
}

.rank-border{
  border: solid 1px #e6e6e6;
  border-radius: 4px;
}

.tab-group{
  display: flex;
  justify-content: space-evenly;
  margin: 0em;
  padding: 0em;
}

.tab{
  padding: 5px;
  padding-bottom: 15px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.tab:hover{
  color: #40e0d0;
  border-bottom: solid 1px #40e0d0;
}

.tab.is-active{
  color: #72b5b7;
  border-bottom: solid 1px #72b5b7;
}

.ranking-group{
  display: none;
}

.ranking-group.is-show{
  display:block;
}

.rank-padding{
  padding-left: 15px;
  padding-right: 15px;
}

.midashi{
  display: none;
}

.midashi.is-show{
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.profile-group{
  border: solid 1px #e6e6e6;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
}

.profile-name{
  margin: 14px 14px 0px 14px;
}

.profile-footer{
  margin: 14px 14px 0px 14px;
}

.profile-center{
  text-align: center;
}

.profile-center a{
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}

.profile-center a:hove{
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}

#not-login-profile{
  background: #f1fcfc;
}

.text-samll{
  font-size: 14px;
}