@import "bootstrap";
/*@import "uikit.min";*/

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

/* 検索フォーム */
input {
  @include placeholder(#999999);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 5px;
}

body {
  font-family:-apple-system, -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif !important;
  color: #555555;
  font-size: 1.4;
  //background: #fcf7f2;
}

#alertsize{
  font-size: small;
}

#home-head{
  background: #40e0d0;
  color: white;
  border-radius: 4px;
  padding: 4rem 5rem;
}
