@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

/* 検索フォーム */
input {
  @include placeholder(#999999);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 5px;
}

body {
  font-family:"AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif !important;
  color: #555555;
  font-size: 1.4;
}

#alertsize{
  font-size: small;
}