/* 新規登録フォーム */
#form-header{
  margin: 0 auto;
  display: block;
  text-decoration: none;
  margin-bottom: 2rem;
}

#body-background{
  background-color: #f1fcfc;
}

#form-controll1{
  border-color: #e6e6e6;
  height: 2rem;
}

#form-controll1:focus{
  color: #555555;
  border-color: #72b5b7;
  box-shadow: 0 0 0 0.05rem #40e0d0;
}