<!DOCTYPE html>
<html lang=ja>
  <head>
    <%= render 'shared/html_head'%>
  </head>

  <body id="body-background">
  <% #デフォルトではヘッダーを表示%>
  <% #render 'shared/header_main'%>
  <%= render 'shared/header_form'%> 
    <div class="container">
      <div class="row justify-content-center" id="form-font-size">
        <div class="col-md-5 mx-5 pt-5 pb-4" id="form-border">

          <%= yield %>
          
        </div>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
